:root {
  --bg-color: #4242e6;
  --glitch-bg-color: #4242e6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  background-color: #ff0040;
  color: #fff;
}

* {
  cursor: url("/assets/cursor.svg") 5 5, auto;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* background: black url("../assets/body-bg.svg") no-repeat center center; */
  background-size: 100%;
  background-color: black;
  background-position: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "IBM Plex Mono", monospace;
  color: white;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 600px) {
  body {
    background-image: none;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  line-height: 0.7;
}

#root,
#__next {
  isolation: isolate;
}
