@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url("./reset.css");
@import url("./cursor.css");
@import url("./header.css");
@import url("./footer.css");
@import url("./glitch.css");

@font-face {
  font-family: "Cronicle Demo";
  src: url("CronicleDemo.woff2") format("woff2"),
    url("CronicleDemo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.cronicle {
  font-family: "Cronicle Demo", monospace;
}

.container {
  max-width: 2500px;
  padding: 20px;
}

/* MAIN CONTENT */

.main-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.center-text {
  text-align: center;
  font-size: 80px;
  max-width: fit-content;
  margin: 0 auto;
}

.center-text h1 {
  font-size: 150px;
  color: #f9f5f1;
}

.center-text p {
  line-height: 1;
  text-shadow: 1px 1px 1px rgb(3, 193, 0);
}

.projects ul {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-around;
  color: #f9f5f1;
  list-style-type: decimal;
  padding: 0;
}
.projects ul li:hover {
  text-shadow: 0px 0px 1px rgba(254, 0, 0, 0.767);
  font-weight: bolder;
}

.mobile-id {
  display: none;
}

#body-svg {
  z-index: -1;
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  scale: 1.5;
}

@media (max-width: 500px) {
  #body-svg {
    display: none;
  }

  .mobile-id {
    display: block;
    font-size: 20px;
    color: red;
  }

  .main-content {
    padding: 0;
    justify-content: center;
  }

  .center-text {
    font-size: 50px !important;
  }
  .center-text h1 {
    font-size: 60px !important;
  }

  .left-text,
  .right-text {
    display: none;
  }

  .projects ul {
    grid-template-columns: repeat(2, auto);
    font-size: 13px;
    justify-content: center;
    column-gap: 4rem;
  }

  .location p + p {
    font-size: 9px;
  }
}

@media (max-width: 900px) {
  .center-text {
    font-size: 50px;
  }
  .center-text h1 {
    font-size: 70px;
  }

  .left-text,
  .right-text {
    font-size: 30px;
    opacity: 1;
    transition-duration: 300ms;
  }
}
